[Unit] 
Description=The highly available multiple kubernetes cluster can be installed offline with one click. 
Documentation=https://cloudnativer.github.io 
After=sshd.service 
Requires=sshd.service 

[Service] 
Environment="USER=root" 
ExecStart=/go/src/kube-install/kube-install -daemon 
User=root 
PrivateTmp=true 
LimitNOFILE=65536 
TimeoutStartSec=5 
RestartSec=10 
Restart=always 

[Install] 
WantedBy=multi-user.target 

