[Unit]
Description=kube-install One click fast installation of highly available kubernetes cluster.
Documentation=https://cloudnativer.github.io/
After=sshd.service
Requires=sshd.service
  
[Service]
User=root
Environment="USER=root"
ExecStart=/root/kube-install/kube-install -daemon
PrivateTmp=true
LimitNOFILE=65536
TimeoutStartSec=5
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target


