---------------------------------------------------------------
[1] Container image center address: {{addons_ip3}}:5000
     usage method：
         docker pull {{addons_ip3}}:5000/Your-image-name:Version
         docker push {{addons_ip3}}:5000/Your-image-name:Version


---------------------------------------------------------------
[2] k8s dashboard console: https://{{addons_ip1}}:50000
     usage method：
         Use the browser to log in and access. The token is as follows：
