# ------------------- Dashboard Service ------------------- #

kind: Service
apiVersion: v1
metadata:
  labels:
    app: kube-dashboard
  name: kube-dashboard
  namespace: kube-system
spec:
  type: NodePort
  selector:
    app: kube-dashboard
  ports:
  - port: 443
    targetPort: 8443
    nodePort: 50000


