---------------------------------------------------------------
[1] Container image center address: {{master_vip}}:5000
     usage method：
         docker pull {{master_vip}}:5000/Your-image-name:Version
         docker push {{master_vip}}:5000/Your-image-name:Version


---------------------------------------------------------------
[2] k8s dashboard console: https://{{master_vip}}:50000
     usage method：
         Use the browser to log in and access. The token is as follows：
