[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
WorkingDirectory={{k8s_install_home}}/kubernetes/kube-controller-manager/
ExecStart=/usr/local/bin/kube-controller-manager \
--bind-address=127.0.0.1 \
--allocate-node-cidrs=true \
--requestheader-allowed-names=aggregator \
--horizontal-pod-autoscaler-cpu-initialization-period=2m \
--horizontal-pod-autoscaler-downscale-stabilization=3m \
--service-cluster-ip-range={{service_cidr}} \
--cluster-cidr={{pod_cidr}} \
--node-cidr-mask-size=25 \
--cluster-name=kubernetes \
--cluster-signing-cert-file=/etc/kubernetes/ssl/k8s-root-ca.pem \
--cluster-signing-key-file=/etc/kubernetes/ssl/k8s-root-ca-key.pem \
--service-account-private-key-file=/etc/kubernetes/ssl/k8s-root-ca-key.pem \
--root-ca-file=/etc/kubernetes/ssl/k8s-root-ca.pem \
--kubeconfig=/etc/kubernetes/ssl/local.kubeconfig \
--service-account-private-key-file=/etc/kubernetes/ssl/sa.key \
--use-service-account-credentials=true \
--leader-elect=true \
--v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

