apiVersion: v1
kind: Service
metadata:
  name: ipvsinit-lb
  namespace: kube-system
  labels:
    k8sapp: ipvsinit-lb
spec:
  type: ClusterIP
  clusterIP: 10.254.0.3
  sessionAffinity: None
  ports:
  - name: k8s-api
    port: {{k8sapiport}}
    protocol: TCP
    targetPort: {{k8sapiport}}





