[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
--address=127.0.0.1 \
--master=http://127.0.0.1:6334 \
--leader-elect=true \
--logtostderr=false \
--log-dir={{k8s_install_home}}/kubernetes/kube-scheduler \
--v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
