# ------------------- Dashboard Service ------------------- #

kind: Service
apiVersion: v1
metadata:
  labels:
    APPNAME: kube-system
    CLUSTER: kube-system-dashboard
  name: kube-system-dashboard-dev
  namespace: kube-system
spec:
  type: NodePort
  selector:
    APPNAME: kube-system
    CLUSTER: kube-system-dashboard
  ports:
  - port: 443
    targetPort: 8443
    nodePort: 50000


