<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{if eq .Lang "cn"}}Kube-Install(二进制方式部署K8S集群){{else}}Kube-Install(installation of K8S in binary mode){{end}}</title>
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="static/js/Flot/excanvas.js"></script>
	<![endif]-->
        <!-- The Favicon Ico -->
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
	<!-- The Fonts -->
        <link rel="stylesheet" href="static/css/fonts.css" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="static/css/style.css">
	<!-- jQuery -->
	<script src="static/js/jQuery/jquery-1.7.2.min.js"></script>
	<!-- Flot -->
	<script src="static/js/Flot/jquery.flot.js"></script>
	<script src="static/js/Flot/jquery.flot.resize.js"></script>
	<script src="static/js/Flot/jquery.flot.pie.js"></script>
	<!-- DataTables -->
	<script src="static/js/DataTables/jquery.dataTables.min.js"></script>
	<!-- ColResizable -->
	<script src="static/js/ColResizable/colResizable-1.3.js"></script>
	<!-- jQuryUI -->
	<script src="static/js/jQueryUI/jquery-ui-1.8.21.min.js"></script>
	<!-- Uniform -->
	<script src="static/js/Uniform/jquery.uniform.js"></script>
	<!-- Tipsy -->
	<script src="static/js/Tipsy/jquery.tipsy.js"></script>
	<!-- Elastic -->
	<script src="static/js/Elastic/jquery.elastic.js"></script>
	<!-- ColorPicker -->
	<script src="static/js/ColorPicker/colorpicker.js"></script>
	<!-- SuperTextarea -->
	<script src="static/js/SuperTextarea/jquery.supertextarea.min.js"></script>
	<!-- UISpinner -->
	<script src="static/js/UISpinner/ui.spinner.js"></script>
	<!-- MaskedInput -->
	<script src="static/js/MaskedInput/jquery.maskedinput-1.3.js"></script>
	<!-- ClEditor -->
	<script src="static/js/ClEditor/jquery.cleditor.js"></script>
	<!-- Full Calendar -->
	<script src="static/js/FullCalendar/fullcalendar.js"></script>
	<!-- Color Box -->
	<script src="static/js/ColorBox/jquery.colorbox.js"></script>
	<!-- kubeinstall Script -->
	<script src="static/js/kubeinstall.js"></script>
</head>
<body>
	<div class="wrapper contents_wrapper">
		
		<div class="login">
                        <div>
                            <img src="static/img/kubeinstall_logo.png" alt="{{if eq .Lang "cn"}}Kube-Install(二进制方式部署K8S集群){{else}}Kube-Install(installation of K8S in binary mode){{end}}">
                        </div>
                        <br>
			<div class="widget_header">
				<h4 class="widget_header_title wwIcon i_16_login">{{ if eq .Lang "cn" }}错误信息{{ else }}Error Information{{ end }}</h4>
			</div>
			<div class="widget_contents lgNoPadding">
				<div class="line_grid">
                                        <div class="label" style="text-align:center;"><br><br>
                                            {{ .Errorinfo }}<a href="/login">{{ if eq .Lang "cn" }}点击重新登录！{{ else }}Click here to login again!{{ end }}</a> <br><br><br>
                                        </div>
                                        <br>
                                        <div class="clear"></div>
				</div>
			</div>
		</div>

	</div>
	<footer>
		<div class="wrapper">
			<span class="copyright">
				Powered By <a target="_blank" href="https://cloudnativer.github.io">CloudNativer</a>
			</span>
		</div>
	</footer>
</body>
</html>
