<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{if eq .Lang "cn"}}Kube-Install快速部署K8S集群(二进制方式){{else}}Kube-Install(Fast installation of k8s cluster in binary mode){{end}}</title>
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="static/js/Flot/excanvas.js"></script>
	<![endif]-->
	<!-- The Fonts -->
	<link rel="stylesheet" href="static/css/fonts.css" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="static/css/style.css" />
	<!-- jQuery -->
	<script src="static/js/jQuery/jquery-1.7.2.min.js"></script>
	<!-- Flot -->
	<script src="static/js/Flot/jquery.flot.js"></script>
	<script src="static/js/Flot/jquery.flot.resize.js"></script>
	<script src="static/js/Flot/jquery.flot.pie.js"></script>
	<!-- DataTables -->
	<script src="static/js/DataTables/jquery.dataTables.min.js"></script>
	<!-- ColResizable -->
	<script src="static/js/ColResizable/colResizable-1.3.js"></script>
	<!-- jQuryUI -->
	<script src="static/js/jQueryUI/jquery-ui-1.8.21.min.js"></script>
	<!-- Uniform -->
	<script src="static/js/Uniform/jquery.uniform.js"></script>
	<!-- Tipsy -->
	<script src="static/js/Tipsy/jquery.tipsy.js"></script>
	<!-- Elastic -->
	<script src="static/js/Elastic/jquery.elastic.js"></script>
	<!-- ColorPicker -->
	<script src="static/js/ColorPicker/colorpicker.js"></script>
	<!-- SuperTextarea -->
	<script src="static/js/SuperTextarea/jquery.supertextarea.min.js"></script>
	<!-- UISpinner -->
	<script src="static/js/UISpinner/ui.spinner.js"></script>
	<!-- MaskedInput -->
	<script src="static/js/MaskedInput/jquery.maskedinput-1.3.js"></script>
	<!-- ClEditor -->
	<script src="static/js/ClEditor/jquery.cleditor.js"></script>
	<!-- Full Calendar -->
	<script src="static/js/FullCalendar/fullcalendar.js"></script>
	<!-- Color Box -->
	<script src="static/js/ColorBox/jquery.colorbox.js"></script>
        <!-- LayDate -->
        <script src="static/js/laydate/laydate.js"></script>
	<!-- kubeinstall Script -->
	<script src="static/js/kubeinstall.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
    <div id="k8s_black" class="black_overlay"></div>
    <div id="k8s_content" class="white_content">
                <div class="widget_header wwOptions">
                        <h4 class="widget_header_title wwIcon i_16_k8s">{{if eq .Lang "cn"}}快速安装一个新k8s集群{{else}}Fast installation of a new kubernetes cluster{{end}}</h4>
	                <div style="text-align: right;"><img alt="{{if eq .Lang "cn"}}点击关闭{{else}}Close{{end}}" src="static/img/Button/close03.png" onclick = "document.getElementById('k8s_content').style.display='none';document.getElementById('k8s_black').style.display='none'"/></div>
                </div>
		<div class="widget_contents noPadding">
			<form action="/install?tools=yes" enctype="multipart/form-data" method="post" >
				<div class="line_grid">
					<div class="g_3"><span class="label">{{if eq .Lang "cn"}}Kubernetes集群标示{{else}}Kubernetes cluster label{{end}} <span class="must">*</span></span></div>
					<div class="g_9">
						<input name="label" class="simple_field" type="text" required />
						<div class="field_notice">{{if eq .Lang "cn"}}填写用于唯一识别这个Kubernetes{{if eq .Lang "cn"}}集群的{{else}}cluster{{end}}标示字段{{else}}Fill in the label field that uniquely identifies the kubernetes cluster{{end}}</div>
					</div>
				</div>
                                <div class="line_grid">
                                        <div class="g_3"><span class="label">{{if eq .Lang "cn"}}选择Kubernetes版本{{else}}Kubernetes version{{end}} <span class="must">*</span></span>
                                        </div>
                                        <div class="g_9">
                                                <select name="k8sver" class="simple_form">
                                                  <option value="1.22" >Kubernetes v1.22</option>
                                                  <option value="1.21" >Kubernetes v1.21</option>
                                                  <option value="1.20" >Kubernetes v1.20</option>
                                                  <option value="1.19" >Kubernetes v1.19</option>
                                                  <option value="1.18" >Kubernetes v1.18</option>
                                                </select>
                                                <div class="field_notice">{{if eq .Lang "cn"}}选择你要安装的Kubernetes软件版本{{else}}Select the version of kubernetes software you want to install.{{end}}</div>
                                        </div>
                                </div>
				<div class="line_grid">
					<div class="g_3"><span class="label">{{if eq .Lang "cn"}}Master IP地址{{else}}Master IP address{{end}} <span class="must">*</span></span></div>
					<div class="g_9">
						<input name="master" class="simple_field" type="text" required />
						<div class="field_notice">{{if eq .Lang "cn"}}填写要部署的Kubernetes Master主机IP地址，多个IP请用英文逗号","隔开{{else}}Fill in the IP address of the kubernetes master to be deployed. Separate multiple IP addresses with English comma ","{{end}}</div>
					</div>
				</div>
				<div class="line_grid">
					<div class="g_3"><span class="label">{{if eq .Lang "cn"}}Node IP地址{{else}}Node IP address{{end}} <span class="must">*</span></span></div>
					<div class="g_9">
						<input name="node" class="simple_field" type="text" required />
						<div class="field_notice">{{if eq .Lang "cn"}}填写要部署的Kubernetes Node主机IP地址，多个IP请用英文逗号","隔开{{else}}Fill in the IP address of the kubernetes node host to be deployed. Separate multiple IP addresses with English comma ","{{end}}</div>
					</div>
				</div>
				<div class="line_grid">
					<div class="g_3"><span class="label">{{if eq .Lang "cn"}}操作系统类型{{else}}Operating system type{{end}} <span class="must">*</span></span>
					</div>
					<div class="g_9">
						<select name="ostype" class="simple_form">
                                                  <option value="centos7" >CentOS Linux 7</option>
                                                  <option value="centos8" >CentOS Linux 8</option>
                                                  <option value="rhel7" >Red Hat Enterprise Linux 7</option>
                                                  <option value="rhel8" >Red Hat Enterprise Linux 8</option>
                                                  <option value="ubuntu20" >Ubuntu Server 20</option>
						  <option value="suse15" >OpenSUSE 15</option>
						</select>
                                                <div class="field_notice">{{if eq .Lang "cn"}}选择目标主机的操作系统类型。相同批次的主机操作系统需要保持一致{{else}}Select the operating system type of the target host. Host operating systems of the same batch need to be consistent!{{end}}</div>
					</div>
				</div>
				<div class="line_grid">
					<div class="g_3"><span class="label">{{if eq .Lang "cn"}}部署到目标主机路径{{else}}Deploy to target host path{{end}} <span class="must">*</span></span></div>
					<div class="g_9">
						<input name="softdir" value="/opt/kube-install" class="simple_field" type="text" required />
						<div class="field_notice">{{if eq .Lang "cn"}}默认无需修改。如果所安装的目标主机路径需要更换的话，可以通过这里进行修改。{{else}}No modification is required by default. If the installed target host path needs to be changed, you can modify it here.{{end}}</div>
					</div>
				</div>
                                <div class="line_grid">
                                        <div class="g_3"><span class="label">{{if eq .Lang "cn"}}选择开始安装的时间{{else}}Select when to start installation{{end}} </span></div>
                                        <div class="g_9">
                                                <input type="text" id="installtime" name="installtime" class="simple_field" type="text" />
                                                  <script>
	                                                  lay('#version').html('-v'+ laydate.v);
        	                                          laydate.render({
                	                                  	elem: '#installtime'
                        	                          	,type: 'datetime'
                                                                ,format: 'yyyy-MM-dd HH:mm'
                                	                  	{{if ne .Lang "cn"}},lang: 'en'{{end}}
                                        	          });
                                                  </script>
                                                <div class="field_notice">{{if eq .Lang "cn"}}默认立即开始安装。如需定时安装，可以在这里设置计划开始执行的时间。(任务计划支持精确到分钟级别)<br>注意：请确保Kube-Install本地操作系统的当前时间与Web页面当前时间一致！{{else}}Install now by default. For scheduled installation, you can set the scheduled execution time here.(Support accuracy to minute level)<br>Notice: Please ensure that the current time of local OS is consistent with the current time of web page!{{end}}</div>
                                        </div>
                                </div>
				<div class="line_grid">
					<div class="g_10" style="text-align: center;">
						<input type="hidden" name="way" value="newinstall"> 
						<input type="submit" value="{{if eq .Lang "cn"}}确认安装{{else}}Submit{{end}}" class="submitIt simple_buttons" /> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="reset" value="{{if eq .Lang "cn"}}重新填写{{else}}Reset{{end}}" class="submitIt simple_buttons" /> 
					</div>
				</div>
			</form>
    	</div>
    </div>

    <div id="ssh_black" class="black_overlay">
    </div>
    <div id="ssh_content" class="white_content">
                <div class="widget_header wwOptions">
                        <h4 class="widget_header_title wwIcon i_16_progress">{{if eq .Lang "cn"}}打通kube-install到目标主机的SSH通道{{else}}Open the SSH channel from kube-install to the target host{{end}}</h4>
	                <div style="text-align: right;"><img alt="{{if eq .Lang "cn"}}点击关闭{{else}}Close{{end}}" src="static/img/Button/close03.png" onclick = "document.getElementById('ssh_content').style.display='none';document.getElementById('ssh_black').style.display='none'"/></div>
                </div>
                <div class="widget_contents noPadding">
                        <form action="/sshkey?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}&tools=yes" enctype="multipart/form-data" method="post" >
                                <div class="line_grid">
                                        <div class="g_3"><span class="label">{{if eq .Lang "cn"}}目标主机的IP地址{{else}}IP address of the target host{{end}} <span class="must">*</span></span></div>
                                        <div class="g_9">
                                                <input name="sship" class="simple_field" type="text" required />
                                                <div class="field_notice">{{if eq .Lang "cn"}}填写目标主机的IP地址，多个IP请用英文逗号","隔开{{else}}The IP address of the target host to operation, Separate multiple IP addresses with English comma ","{{end}}</div>
                                        </div>
                                </div>
                                <div class="line_grid">
                                        <div class="g_3"><span class="label" >{{if eq .Lang "cn"}}目标主机的{{.Sshuser}}密码{{else}}{{.Sshuser}} password of the target host{{end}} <span class="must">*</span></span></div>
                                        <div class="g_9">
                                                <input type="password" name="sshpass" class="simple_field" required />
                                                <div class="field_notice">{{if eq .Lang "cn"}}填写目标主机{{.Sshuser}}用户的密码{{else}}The password of the {{.Sshuser}} user of the target host{{end}}</div>
                                        </div>
                                </div>
                                <div class="line_grid">
                                        <div class="g_12"><span class="label">{{if eq .Lang "cn"}}注意：如果想用Kube-Install管理目标主机，就必须要先打通Kube-Install服务器到目标主机的SSH通道。(你可以选择手工自己打通主机SSH通道，也可以通过Kube-Install来自动化打通){{else}}Notice: If you want to use Kube-Install to manage the target host, you must first open the SSH channel from the Kube-Install server to the target host.(You can choose to open the SSH channel of the host manually or automatically through Kube install){{end}}</span></div>
                                        <br><br><br>
                                        <div class="g_10" style="text-align: center;">
		                                <input type="hidden" name="label" value="{{.Label}}">
                		                <input type="hidden" name="k8sver" value="{{.K8sver}}"/>
                                                <input type="hidden" name="sshuser" value="{{.Sshuser}}" />
		                                <input type="hidden" name="softdir" value="{{.Softdir}}">
                		                <input type="hidden" name="ostype" value="{{.Ostype}}">
                                                <input type="submit" value="{{if eq .Lang "cn"}}确认打通{{else}}Submit{{end}}" class="submitIt simple_buttons" /> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="reset" value="{{if eq .Lang "cn"}}重新填写{{else}}Reset{{end}}" class="submitIt simple_buttons" />  
                                        </div>
					<br><br><br><br><br>
                                </div>
                        </form>
        </div>
    </div>

        <header class="main_header">
                <div class="wrapper">
                        <div class="logo">
                                <a href="#" Title="kubeinstall Home">
                                        <img src="static/img/kubeinstall_logo.png" alt="kubeinstall_logo">
                                </a>
                        </div>
                        <nav class="top_buttons">
                                <ul>
                                        <li class="big_button">
                                                <div class="out_border">
                                                        <div class="button_wrapper">
                                                                <div class="in_border" onclick="document.getElementById('log_black').style.display='block';document.getElementById('log_content').style.display='block'">
                                                                        <a {{if eq .Lang "cn"}} href="/tools?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}&lang=en" {{else}} href="/tools?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}&lang=cn" {{end}} title="{{if eq .Lang "cn"}}切换语言{{else}}Switch Language{{end}}" class="the_button">
                                                                                {{if eq .Lang "cn"}}
                                                                                        <span class="i_32_en"></span>
                                                                                {{else}}
                                                                                        <span class="i_32_cn"></span>
                                                                                {{end}}
                                                                        </a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </li>
                                        <li class="big_button">
                                                <div class="out_border">
                                                        <div class="button_wrapper">
                                                                <div class="in_border">
                                                                        <a href="##" title="{{if eq .Lang "cn"}}版本信息{{else}}Version Information{{end}}" class="the_button bdC"><span class="i_32_info"></span></a>
                                                                        <div class="dialog bDialog" title="{{if eq .Lang "cn"}}版本信息{{else}}Version Information{{end}}"><span class="label lwParagraph"><b>{{if eq .Lang "cn"}}[版本]{{else}}[Version]{{end}}</b> <br>&nbsp;&nbsp;&nbsp;&nbsp;Version: {{.Version}} <br>&nbsp;&nbsp;&nbsp;&nbsp;Release Date: {{.Releasedate}} <br><br><b>{{if eq .Lang "cn"}}[兼容性]{{else}}[Compatibility]{{end}}</b> <br>&nbsp;&nbsp;&nbsp;&nbsp;Kubernetes: {{.Compatiblek8s}}<br>&nbsp;&nbsp;&nbsp;&nbsp;OS: {{.Compatibleos}} <br>&nbsp;&nbsp;&nbsp;&nbsp;Hardware: X86 | AMD64 <br><br></span></div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </li>
                                </ul>
                        </nav>
                </div>
        </header>

	<div class="wrapper small_menu">
		<ul class="menu_small_buttons">
			<li><a title="{{if eq .Lang "cn"}}信息概览{{else}}Information Overview{{end}}" class="i_22_dashboard" href="/?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}"></a></li>
			<li><a title="{{if eq .Lang "cn"}}管理Kubernetes集群{{else}}Managing Kubernetes Clusters{{end}}" class="i_22_cluster" href="clusterlist?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}"></a></li>
			<li><a title="{{if eq .Lang "cn"}}管理Kubernetes Master{{else}}Managing Kubernetes Master{{end}}" class="i_22_master" href="masteradmin?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}"></a></li>
			<li><a title="{{if eq .Lang "cn"}}管理Kubernetes Node{{else}}Managing Kubernetes Nodes{{end}}" class="i_22_node" href="nodeadmin?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}"></a></li>
			<li><a title="{{if eq .Lang "cn"}}常用工具{{else}}Common Tools{{end}}" class="i_22_tools smActive" href="tools?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}"></a></li>
			<li><a title="{{if eq .Lang "cn"}}查看各类日志{{else}}View all kinds of logs{{end}}" class="i_22_logs" href="logs?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}"></a></li>
		</ul>
	</div>

	<div class="wrapper contents_wrapper">
		
		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="i_32_dashboard">
					<a href="/?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" title="{{if eq .Lang "cn"}}基本信息{{else}}Basic information{{end}}">
						<span class="tab_label">Dashboard</span>
						<span class="tab_info">{{if eq .Lang "cn"}}信息概览{{else}}Overview{{end}}</span>
					</a>
				</li>
				<li class="i_32_cluster">
					<a href="clusterlist?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" title="{{if eq .Lang "cn"}}管理Kubernetes集群{{else}}Managing Kubernetes Clusters{{end}}">
						<span class="tab_label">Cluster</span>
						<span class="tab_info">{{if eq .Lang "cn"}}集群管理{{else}}Management{{end}}</span>
					</a>
				</li>
				<li class="i_32_master">
					<a href="masteradmin?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" title="{{if eq .Lang "cn"}}管理Kubernetes Master{{else}}Managing Kubernetes Master{{end}}">
						<span class="tab_label">Master</span>
						<span class="tab_info">{{if eq .Lang "cn"}}Master管理{{else}}Rebuild/Del{{end}}</span>
					</a>
				</li>
				<li class="i_32_node">
					<a href="nodeadmin?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" title="{{if eq .Lang "cn"}}管理Kubernetes Node{{else}}Managing Kubernetes Nodes{{end}}">
						<span class="tab_label">Node</span>
						<span class="tab_info">{{if eq .Lang "cn"}}Node管理{{else}}Add/Del/Op{{end}}</span>
					</a>
				</li>
				<li class="active_tab i_32_tools">
					<a href="tools?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" title="{{if eq .Lang "cn"}}实用小工具{{else}}Some Utilities Tools{{end}}">
						<span class="tab_label">Tools</span>
						<span class="tab_info">{{if eq .Lang "cn"}}常用工具{{else}}Utilities Tools{{end}}</span>
					</a>
				</li>
				<li class="i_32_logs">
					<a href="logs?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" title="{{if eq .Lang "cn"}}查看各类日志{{else}}View All Kinds of Logs{{end}}">
						<span class="tab_label">Logs</span>
						<span class="tab_info">{{if eq .Lang "cn"}}操作日志{{else}}View Logs{{end}}</span>
					</a>
				</li>
			</ul>
		</aside>

		<div class="contents">
			<div class="grid_wrapper">

				<div class="g_6 contents_header">
					<h3 class="i_16_tools tab_label">{{if eq .Lang "cn"}}常用工具{{else}}Common Tools{{end}}</h3>
					<div><span class="label">{{if eq .Lang "cn"}}各类实用的小工具{{else}}All kinds of utilities tools{{end}}</span></div>
				</div>

				<div class="g_6 contents_options">
					<div class="simple_buttons">
						<div class="bwIcon i_16_settings">{{if eq .Lang "cn"}}面板设置{{else}}Panel Settings{{end}}</div>
					</div>
				</div>

				<!-- Separator -->
				<div class="g_12 separator"><span></span></div>
				<div class="g_12">
					<div class="widget_header wwOptions">
						<h4 class="widget_header_title wwIcon i_16_data">{{if eq .Lang "cn"}}工具面板{{else}}Tool Panel{{end}}</h4>
					</div>
					<div class="widget_contents lPreview">
						<br><br>
						<a href="##" onclick="document.getElementById('ssh_black').style.display='block';document.getElementById('ssh_content').style.display='block'" class="label">
							<img src="static/img/Button/sshkey.png" />{{if eq .Lang "cn"}}打通主机SSH通道{{else}}Open SSH Channel of Host{{end}}
						</a>
						<a href="##" onclick="document.getElementById('k8s_black').style.display='block';document.getElementById('k8s_content').style.display='block'" class="label">
							<img src="static/img/Button/k8s.png" />{{if eq .Lang "cn"}}一键部署K8S集群{{else}}Fast Installation of K8S{{end}}
						</a>
						<a href="/calendarscheduler?label={{.Label}}&softdir={{.Softdir}}&ostype={{.Ostype}}&k8sver={{.K8sver}}" class="label">
							<img src="static/img/Button/calendar.png" />{{if eq .Lang "cn"}}查看部署计划日历{{else}}Install Schedule Calendar{{end}}
						</a>
						<br><br><br><br><br>
					</div>

				</div>


			</div>
		</div>

	<footer>
		<div class="wrapper">
			<span class="copyright">
				Kube-Install Version {{.Version}} &nbsp; | &nbsp; Powered By <a target="_blank" href="https://cloudnativer.github.io">CloudNativer</a>
			</span>
		</div>
	</footer>
</body>
</html>
